name: builder dispatcher
on:
  # Permite que outros workflows chamem este
  workflow_call:
    inputs:
      os:
        required: true
        type: string
      _cpusched:
        required: true
        type: string

  # ADICIONE ISTO: Permite iniciar manualmente pela aba Actions
  workflow_dispatch:
    inputs:
      os:
        description: 'Selecione o Sistema Operacional'
        required: true
        default: 'ubuntu'
        type: choice
        options:
          - ubuntu
          - fedora
          - arch
      _cpusched:
        description: 'Selecione o CPU Scheduler'
        required: true
        default: 'bore'
        type: choice
        options:
          - bore
          - eevdf
          - pds
          - bmq

jobs:
  # Os jobs permanecem iguais, mas agora usam os inputs de quem disparou (call ou dispatch)
  dispatch-to-fedora:
    uses: ./.github/workflows/fedora-builder.yml
    with:
      _cpusched: ${{ inputs._cpusched }}
    if: github.event.inputs.os == 'fedora' || inputs.os == 'fedora'

  dispatch-to-ubuntu:
    uses: ./.github/workflows/ubuntu-builder.yml
    with:
      _cpusched: ${{ inputs._cpusched }}
    if: github.event.inputs.os == 'ubuntu' || inputs.os == 'ubuntu'

  dispatch-to-arch:
    uses: ./.github/workflows/arch-builder.yml
    with:
      _cpusched: ${{ inputs._cpusched }}
    if: github.event.inputs.os == 'arch' || inputs.os == 'arch'
